<section>
{% set blogLoop = craft.entries.section('blog').relatedTo('{{categorySelector}}').order('postDate desc').limit(4) %}
  {% if blogLoop | length %}
  <div class="news" style="background-color:{{block.color}}">
    <div class="row">
      <h2>{{block.sectionHeader}}</h2>
      <p>{{block.sectionBody}}</p>

        {% for blogItem in blogLoop %}
          <div class="news_item">
              <h3><a href="{{blogItem.url}}">{{ blogItem.title }}</a></h3>

          </div>
        {% endfor %}
    </div>
  </div>
    {% endif %}
</section>


</div>
