<section id="half">
  <div class="row half">
    <div class="half_text" style="{% if block.float %}float:left;{% else %}float:right{% endif %};">
      <h2 class="">{{ block.sectionHeader}}</h2>
      <hr class="header_line" style="background-color:{{ block.color }};">
      <p>{{block.sectionBody}}</p>
    </div>
    <div class="half_image">
      <img src="{{ block.blockImage.first().url}}" alt="{{ block.blockImage.first().title}}">
    </div>
  </div>
</section>
