<section id="half">
  <div class="row half">
    <div class="half_text" style="{% if block.float %}float:left{% else %}float:right{% endif %};">
      <h2 class="">{{ block.sectionHeader}}</h2>
      <hr class="header_line" style="background-color:{{ block.color }};">
      <p>{{block.sectionBody}}</p>

      <a href="{{block.buttonLink.url}}" {{block.buttonLink.target}}><span class="half_button" style="background-color:{{block.color}};">{{block.buttonLink.text}}</span></a>


    </div>
    <div class="half_image">
      {% if block.blockImage|length > 0%}
        <img src="{{ block.blockImage.first().url}}" alt="{{ block.blockImage.first().title}}">
      {% endif %}
    </div>
  </div>
</section>
